<div class="container">
  <h2 class="text-center mb-4">Gestión de Tiendas</h2>
  <form [formGroup]="tiendaForm" (ngSubmit)="onSubmit()" class="mb-4">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="sucursal">Sucursal</label>
        <input id="sucursal" formControlName="sucursal" class="form-control" type="text" />
      </div>
      <div class="form-group col-md-4">
        <label for="direccion">Dirección</label>
        <input id="direccion" formControlName="direccion" class="form-control" type="text" />
      </div>
      <div class="form-group col-md-6">
        <label for="articuloIds">Artículos</label>
        <select id="articuloIds" formControlName="articuloTiendas" class="form-control" required>
          <option *ngFor="let articulo of articulos" [value]="articulo.articuloId">{{ articulo.descripcion }}</option>
        </select>
      </div>
      <div class="form-group col-md-12 d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">{{ editMode ? 'Actualizar' : 'Crear' }}</button>
        <button class="btn btn-secondary ml-2" type="button" (click)="resetForm()">Cancelar</button>
      </div>
    </div>
  </form>
  <hr />
  <div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
      <thead class="thead-light">
        <tr>
          <th class="text-center">Sucursal</th>
          <th class="text-center">Dirección</th>
          <th class="text-center">Artículos</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tienda of tiendas">
          <td>{{ tienda.sucursal }}</td>
          <td>{{ tienda.direccion }}</td>
          <td>
            <ul>
              <li *ngFor="let articuloTienda of tienda.articuloTiendas">
                {{ getArticuloDescripcion(articuloTienda.articulo.articuloTiendas) }}
              </li>
            </ul>
          </td>
          <td>
            <button class="btn btn-info btn-sm mr-2" (click)="onEdit(tienda)">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="onDelete(tienda.tiendaId)">
              <i class="fas fa-trash-alt"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
